//- app.put(`/v2/entities/urn:ngsi-ld::tipo::id/attrs/:atributo/value`
//- form(method="POST", action="/value")
form()
	p Insertar value
		input(id="value" type="text", name="")
	p
		input(type="submit", value="OK")