html
  head
    title= title
  body
    h1= "Grafico Grafana Fiware"
      p 
        iframe(src="http://82.223.81.195:6651/d-solo/-DX1xj_Gz/dashboard-ivan?orgId=1&panelId=2&from=1618041658000&to=1618214231531", width="450", height="200", frameborder="0")
    p La fecha inicial es: #{fechas[0]}
    p La fecha final es: #{fechas[1]}