//- https://www.sitepoint.com/a-beginners-guide-to-pug/
doctype html
html(lang='es')
  head
    title Version
    //-link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    link(rel='stylesheet' href="/static/semantic.min.css")
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }

  body
    main#main
    h1.ui.center.aligned.header VERSION
    .ui.container

    block content

    block footer
      