extends layout.pug
include mixins/_tableRow

block content
    table.ui.celled.table.center.aligned
        thead
            tr
                th Version
                th Uptime
                th Git Hash
                th Compile time
                th Compiled by
                th Compiled in
                th Release date
                th Doc
        tbody
            each ver in version
                +tableRow(ver)
        tfoot
            tr
                th(colspan='8')
block footer 
    footer
        p.
            #{new Date().getFullYear()} #[a(href='https://gitlab.com/ILC-IT/fiware_getting_started') GitLab]