mixin tableRow(ver)
    tr
        td #{ver.version}
        td #{ver.uptime}
        td #{ver.git_hash}
        td #{ver.compile_time}
        td #{ver.compiled_by}
        td #{ver.compiled_in}
        td #{ver.release_date}
        td #{ver.doc}